#container-app {
    background-color: var(--primary-color);
    height: 100%;
    display: grid;
    grid-template-areas:
    "spc-left spc-center spc-right";
    grid-template-columns: 0 100% 0;
    word-spacing: 5px;
    line-height: 25px;
}

#spc-center {
    grid-area: spc-center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    color: white;
    gap: 20px;
    padding: 0 2px 2px 2px;
}

.border-image {
    background-color: rgb(153, 8, 39, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-code {
    background-image: url("./assets/bg-code.png");
    background-size: cover;
}

div.justify-between > span {
    width: 50%;
}

.download-cv:hover{
    border-color: var(--aux-color-2);
    color: var(--aux-color-2);
}

@media (max-width: 900px) {
    .flex-900-col {
        flex-direction: column !important;
    }
}

@media (max-width: 800px) {
    .flex-800-col {
        flex-direction: column !important;
    }
}

@media (max-width: 1200px) {
    .flex-1200-col {
        flex-direction: column !important;
    }
}

@media (min-width: 800px) {
    #container-app {
        padding: 0 10px 10px 10px;
        grid-template-columns: 100px calc(100% - 200px) 100px;
    }

    #spc-center {
        padding: 0 10px 10px 10px;
    }

    div.justify-between > span {
        width: 33%;
    }
}

#footer-1:checked ~ .footer-label-1 {
    color: white;
    text-underline-offset: 4px;
    text-decoration-line: underline;
}

#footer-2:checked + .footer-label-2 {
    color: white;
    text-underline-offset: 4px;
    text-decoration-line: underline;
}

#footer-3:checked + .footer-label-3 {
    color: white;
    text-underline-offset: 4px;
    text-decoration-line: underline;
}

#content-footer::-webkit-scrollbar{
    display: none;
}

@media (min-width: 1900px) {
    #container-app {
        padding: 0 10px 10px 10px;
        grid-template-columns: 400px calc(100% - 800px) 400px;
    }
}